{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Protege Application{% endblock %}
{% block content %}
<div class="m-auto col-md-8">
    <div class="content-section">
        <h3 class="border-bottom pb-3 mb-4">Protege Application Form</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit Application</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}